<% layout('../layout') %>

<section class="content-header">
    <h1>Profile</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-sm-3">
			<img src="<%= session.user.avatar %>&s=500" alt="" class="thumbnail img-responsive">
		</div>
		<div class="col-sm-9">
			<div class="profile-header">				
				<h1><%= session.user.fullName %></h1>
				<% if (typeof session.user.country != 'undefined') { %>
					<p class='text-muted'><i class="fa fa-map-marker fa-fw"></i><%= session.user.country %></p>
				<% } %>

				<% if (typeof session.user.occupation != 'undefined' || typeof session.user.company != 'undefined') { %>
					<p class='text-muted'>
						<i class="fa fa-briefcase fa-fw"></i><%= (typeof session.user.occupation != 'undefined') ? session.user.occupation : '' %><%= (typeof session.user.occupation != 'undefined' && typeof session.user.company != 'undefined') ? ' at ' : '' %><%= (typeof session.user.company != 'undefined') ? session.user.company : '' %>
					</p>
				<% } %>
			</div>
			<div class="box box-info">
				<div class="box-header">
					<i class="fa fa-camera"></i>
					<h3 class="box-title">Change Photo in 4 steps</h3>
				</div>
				<div class="box-body">
					<p>We use <a href="https://gravatar.com" target="_blank">Gravatar</a> (Globally Recognized Avatar) to show profile images. Follow these steps bellow to upload a photo or just <a href="/signup">create an account</a> in our app with same gravatar email.</p>
					<div class="callout callout-info">
						<h4>1. Go to <a href="https://gravatar.com" target="_blank">gravatar.com</a></h4>
						<p>Click this <a href="https://gravatar.com" target="_blank">link</a> to go to gravatar website</p>
					</div>
					<div class="callout callout-info">
						<h4>2. Signup</h4>
						<p>Create an account with <b>same email address</b> <i class="fa fa-info-circle text-info" data-toggle='tooltip' data-placement='top' title='<%= session.user.email %>'></i> used to sign in here</p>
					</div>
					<div class="callout callout-info">
						<h4>3. Upload a photo</h4>
						<p>If you have trouble see <a href="https://pt.gravatar.com/support/activating-your-account/" target="_blank">this tip</a></p>
					</div>
					<div class="callout callout-info">
						<h4>4. Done!</h4>
						<p>Your photo was globally saved! This photo will be used globally in several websites like <a href="http://www.github.com" target="_blank">Github</a>, <a href="http://www.wordpress.org" target="_blank">WordPress</a>, <a href="http://www.stackjoverflow.com" target="_blank">Stack Overflow</a>, <a href="http://www.disqus.com" target="_blank">DISQUS</a>, <a href="http://battlelog.battlefield.com/bf4/" target="_blank">Battlefield 4 Battlelog</a>, etc.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>